@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100%;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1024px;
  margin: 0 auto;
  background-color: #fafafa;
  box-shadow: 5px 5px 15px 5px #ececec;
}

.introduction-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #e31213;
}
.corner {
  display: flex;
  align-items: start;
  justify-content: center;
  position: absolute;
  top: -3em;
  right: -1.25em;
  background-color: black;
  height: 170px;
  width: 100px;
  z-index: 5;
}
.corner img {
  margin-top: 1em;
  height: 4em;
  width: 4em;
}
.image-container {
  display: flex;
  justify-content: center;
  background-color: #e31213;
  flex: 1 1 0px;
}
.text-container {
  flex: 1 1 0px;
  color: white;
  padding: 20px;
}
.text-wrapper {
  position: relative;
}
.text-name {
  position: relative;
  z-index: 6;
  font-size: 1.25em;
  font-family: 'Lora', serif;
  margin-bottom: 0.6em;
}
.text-name p:first-of-type {
  z-index: 8;
  font-size: 2.2em;
  font-weight: 500;
  letter-spacing: 0.1em;
}
.text-about {
  position: relative;
  z-index: 8;
}
.text-about p:first-of-type {
  font-size: 1.2em;
  margin-bottom: 0.325em;
}

.image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 0 1em 1.25em;
  background-color: black;
  color: white;
}
.phone,
.email,
.address {
  margin-top: 1em;

  display: flex;
  align-items: center;
}
.icon-wrapper .fas {
  margin-right: 0.5em;
}
.contact-details {
  display: flex;
}

.main-content {
  padding: 1.25em;
}
.main-content ul {
  padding-left: 1.1em;
}
.experience,
.highlights {
  display: flex;
  margin-top: 0.6em;
  margin-bottom: 3em;
}
.experience .icon-wrapper {
  margin-right: 5px;
}
.highlights-text {
  margin-top: 1.5em;
}
header {
  width: fit-content;
  background-color: #000;
  color: white;
  padding: 0.3em;
  margin-bottom: 0.5em;
  font-weight: bold;
}
.contact-details p:first-of-type {
  margin-right: 0.5em;
}

@media (min-width: 425px) {
  .image-wrapper {
    height: 85%;
    width: 85%;
  }
  .text-name p:first-of-type {
    font-size: 2.4em;
  }
}
@media (min-width: 768px) {
  main {
    padding: 40px;
    border-radius: 10px;
  }

  .introduction-wrapper {
    flex-direction: row;
    border-radius: 10px 10px 0px 0px;
  }

  .contact-wrapper {
    padding: 0 0 1em 0;
    flex-direction: row;
    justify-content: space-around;
  }
  .contact-details {
    display: block;
  }
  .text-name {
    line-height: 2em;
  }
  .text-name p:first-of-type {
    font-size: 1.2em;
  }
  .corner {
    top: -1.25em;
    right: -1.25em;
    border-radius: 0px 10px 0px 0px;
  }
  .image-container {
    justify-content: end;
    align-items: end;
    border-radius: 10px 10px 0px 0px;
  }
  .main-content {
    display: flex;
    padding: 1.25em 0;
  }
  .experience-section {
    flex: 1 1 0px;
  }
  .highlights-section {
    flex: 1 1 0px;
  }
}
@media (min-width: 1024px) {
  body {
    padding: 2.5em;
  }
}
